.section {
  position: absolute;

  display: none;

  /* Hide */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  background: none;
}
.section.is-shown {
  position: relative;
  margin-top: 0px;
  margin-right: 0px;

  margin: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  visibility: visible;
  display: block;
  opacity: 1;
}
